/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore database.yml
/config/database.yml

# Ignore secrets.yml
/config/secrets.yml
# Ignore rvmfiles
.ruby-version
.ruby-gemset

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
