%h1
  = t('admin.trains.list')
%table.table.table-bordered
  %thead.thead-default
    %tr
      %th Номер:
      %th{:colspan => "3"}
  %tbody
    = render @trains
%br/
= link_to t('admin.trains.new.title'), new_admin_train_path
