%h1 
  Привет
  = @user.first_name
%p
  Вы купили билет по маршруту:
  = @ticket.route_name
%p 
  Посмотреть билет Вы можете
  = link_to 'здесь', @ticket
%p
  Посмотреть все свои билеты Вы можете
  = link_to 'здесь', tickets_url
