.nav-link
  = link_to 'Маршруты',    admin_routes_path
.nav-link
  = link_to 'Поезда',      admin_trains_path
.nav-link
  = link_to 'Станции',     admin_railway_stations_path
.nav-link
  = link_to 'Новый билет', new_admin_ticket_path
