%header
  .nav.nav-inline
    .nav-link
      = link_to 'Маршруты', routes_path
    .nav-link
      = link_to 'Поезда',   trains_path
    .nav-link
      = link_to 'Станции',  railway_stations_path
    .nav-link
      = link_to 'Поиск билетов', search_path
